.content-container {
  max-width: 39rem;
  min-height: 69.5rem;
  height: 94vh;

  padding: 1.2rem 1.6rem;

  color: white;
  background-color: #292929;
}

form {
  width: 35.6rem;
  height: 5.8rem;
  text-align: center;

  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 1.9rem;
}
input[type='search'] {
  width: 100%;
  height: 100%;
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 1rem; /* 굴곡 주면 padding 값도 그에 상응하게 적용하는 것이 좋음 */
  padding: 30px; /* 내용물 작성했을 때 여백감 */
  color: #cccccc;
}

input:focus {
  width: 100%;
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
}
.msg {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3.4rem;
}

.msg span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #36ddab;
}

.loadingMsg {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 3.4rem;
  height: 82vh;
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingMsg img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.6rem;
}

.gym-list {
  width: 35.8rem;
  height: 100%;
}

.gym_content_container {
  width: 32.6rem;
  height: 4.6rem;

  background-color: #1c1c1c;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
  padding: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.gym-info__content__name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.gym-info__content__address {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.gym-info__content__phone {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.gym-info__logo {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #36ddab;
  margin-right: 1.6rem;
}

.gym-info__content {
  width: 70%;
  height: 120%;

  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.gym-info__content__distance {
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #999999;
}

.distance_section {
  width: 100%;
  height: 140%;

  display: flex;
  justify-content: center;
  align-items: end;
}

.distance_section img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
  margin-bottom: 0.3rem;
}
